<app-navbar></app-navbar>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner wow fadeIn portadaInicio">
    <img src="../../assets/img/logoCoing@3-.png" alt="COING" id="logoPrincipal" class="draggable animated bounceInUp">
    <div class="carousel-item active imagenesPortada">
      <img class="d-block w-100 color" src="../../assets/img/architecture-architecture-construction-amazing-building-construction-decorative.jpg" alt="First slide">
      <img class="d-block w-100 gris" src="../../assets/img/architecture-architecture-construction-amazing-building-construction-decorative.jpg" alt="First slide">
    </div>
    <div class="carousel-item imagenesPortada">
      <img class="d-block w-100 color" src="../../assets/img/e86fd3fa06db22fd92cccffbfb58a4d5.jpg" alt="Second slide">
      <img class="d-block w-100 gris" src="../../assets/img/e86fd3fa06db22fd92cccffbfb58a4d5.jpg" alt="Second slide">
    </div>
    <div class="carousel-item imagenesPortada">
      <img class="d-block w-100 color" src="../../assets/img/amargos-informe-anual-del-sector-la-construccion-sumario-euroconstruct-2017.jpg" alt="Third slide">
      <img class="d-block w-100 gris" src="../../assets/img/amargos-informe-anual-del-sector-la-construccion-sumario-euroconstruct-2017.jpg" alt="Third slide">
    </div>
  </div>
</div>
<a class="flotante-wapp" href="https://api.whatsapp.com/send?phone=573166961960" target="_blank"><img class="animated pulse infinite" src="../../../assets/img/Logos/whatsapp.png" alt="whatsapp"></a>
<app-ejecucion></app-ejecucion><br>
<clientes></clientes>
<app-experiencia></app-experiencia>

<div class="bg-contacto">
  <br>
  <app-contacto></app-contacto>
  <app-footer></app-footer>
</div>
