<div class="clientes">
  <img class="wow fadeInDown " src="../../assets/img/Logos/clinica_guadalupe.png" alt="Clínica Guadalupe">
  <img class="wow fadeInDown " src="../../assets/img/Logos/comfandi.png" alt="Comfandi">
  <img class="wow fadeInDown " src="../../assets/img/Logos/logo_javeriana2016.png" alt="Pontificia Universidad Javeriana - Cali">
  <img class="wow fadeInDown " src="../../assets/img/Logos/logo-cosmocentro.png" alt="Ciudadela Comercial Cosmocentro">
  <img class="wow fadeInDown " src="../../assets/img/Logos/logo-spb.png" alt="Sociedad Portuaria de Buenaventura">
  <img class="wow fadeInDown " src="../../assets/img/Logos/acuaviva.png" alt="Acuaviva">
  <img class="wow fadeInDown " src="../../assets/img/Logos/mejor_vivir.png" alt="Constructora Mejor Vivir">
  <img class="wow fadeInDown " src="../../assets/img/Logos/saludcoop_eps.png" alt="Saludcoop">
  <img class="wow fadeInDown " src="../../assets/img/Logos/camelot.png" alt="CR Torres de Camelot">
  <img class="wow fadeInDown " src="../../assets/img/Logos/mayaguez.png" alt="Ingenio Mayagüez">
  <img class="wow fadeInDown " src="../../assets/img/Logos/simeco-ingenieria-logo.png" alt="Simeco">
</div>
