<app-navbarwhite></app-navbarwhite>

<div class="portada-empresa animated fadeIn">
  <img src="../../assets/img/hexagono.png" alt="" class="hexa">
  <h1>LA EMPRESA</h1>
</div>

<div class="contenedor-proyectos wow fadeIn">

  <h1>¿QUIÉNES SOMOS?</h1>
  <p class="intro-empresa">
    COING Ingeniería Ltda. es una empresa fundada en el año 2009 como resultado del “fruto de la experiencia” de uno de sus socios, el Ingeniero Civil Luis Hernando Lozano V. egresado de la Universidad del Cauca en el año de 1975. <br>Contamos con un equipo humano interdisciplinario comprometido en cada uno de los proyectos en los que hemos intervenido, garantizando así el cumplimiento de los objetivos, el correcto seguimiento a los diferentes indicadores de gestión propios de cada proyecto en las áreas de la Construcción, de la Interventoría de Diseño y de Obras.

  </p>
  <br>

  <div class="mvv">
    <div>
      <h2>MISIÓN</h2>
      <p>
        Proporcionar a nuestros Clientes, Servicios de Excelente Calidad para la ejecución tanto en Proyectos de Construcción de Obras Civiles como para Estudios, Diseños, Consultorías e Interventorías, acordes con las necesidades y exigencias que demanda la Ingeniería Moderna, a través de la Experiencia, la Correcta Administración de los Recursos, el Cumplimiento con los Compromisos y los Plazos Pactados; para garantizar satisfacción y generar crecimiento sostenible a largo plazo.
      </p>
    </div>
    <div>
      <h2>VISIÓN</h2>
      <p>
        Lograr el Posicionamiento de nuestra Empresa con Servicios de Excelente Calidad que nos permitan el reconocimiento en el mercado como una de las empresas jóvenes de mayor Crecimiento Sostenible, contribuyendo así al desarrollo social y económico del país.
      </p>
    </div>
    <div>
      <h2>VALORES</h2>
        <ul>
          <li>Compromiso</li>
          <li>Cumplimiento</li>
          <li>Confianza</li>
          <li>Eficiencia</li>
          <li>Responsabilidad</li>
          <li>Respeto</li>
        </ul>
    </div>

  </div>

</div>

<app-experiencia></app-experiencia>

<div class="bg-contacto">
  <app-footer></app-footer>
</div>
