<div class="container container-contacto wow fadeInLeft">

  <p><strong>Si desea conocer más acerca de nosotros, no dude en contactarnos.</strong></p>

  <div class="contacto" ng-app="contacto" ng-controller="control">

    <form (submit)="sendEmail(message)" method="post" action="../../../assets/enviar.php">
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Nombre completo</label>
        <input ngModel type="text" name="name" class="col-sm-8 form-control" aria-describedby="emailHelp" placeholder="Nombre Apellido" [(ngModel)]="message.name">
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Correo electrónico</label>
        <input type="email" name="email" class="col-sm-8 form-control" aria-describedby="emailHelp" placeholder="persona@ejemplo.com" [(ngModel)]="message.email" ng-required="1==1">
      </div>

      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea name="mensaje" class="col-sm-12 form-control" rows="3" placeholder="Escribe aquí tu mensaje" [(ngModel)]="message.message" ng-required="1==1"></textarea>
      </div>

      <button type="submit" ng-submit="" class="btn btn-coing"><strong>ENVIAR</strong></button>
    </form>

  </div>

</div>
