<app-navbarwhite></app-navbarwhite>
<div class="portada-servicios animated fadeIn">
  <img src="../../assets/img/hexagono.png" alt="" class="hexa">
  <h1>SERVICIOS</h1>
</div>

<div class="cc">

  <div class="construccion cerrado" id="construccion">

    <div class="titulo-transparente">
      <h2>CONSTRUCCIÓN</h2>
    </div>

    <i class="fa fa-angle-down cerrado" aria-hidden="true"></i>
    <p class="texto-servicios animated fadeOut">
      Suministro de Mano de Obra Directa, Construcción de las Obras a todo costo con suministro de Materiales, Mano de Obra y Equipos; en ésta actividad seguimos los lineamientos y normas de construcción exigidas por la normatividad vigente y aquellas que se requieran implementar por nuestros Clientes dentro de la sana ingeniería.
    </p>

  </div>
  <div class="consultoria cerrado">

    <div class="titulo-transparente">
      <h2>CONSULTORÍA</h2>
    </div>

    <i class="fa fa-angle-down cerrado" aria-hidden="true"></i>
    <p class="texto-servicios animated fadeOut">
      Asesoramos a nuestros Clientes en sus proyectos indicándole todo aquello que requieren saber sobre su futuro y expectativas planteándole metodologías diferentes para realizarlo, entregando al Cliente los presupuestos de las diferentes alternativas constructivas con nuestras recomendaciones y proyecciones.
    </p>
  </div>

  <div class="interventoria cerrado">

    <div class="titulo-transparente">
      <h2>INTERVENTORÍA</h2>
    </div>

    <i class="fa fa-angle-down cerrado" aria-hidden="true"></i>
    <p class="texto-servicios animated fadeOut">
      Supervisamos y controlamos los aspectos financieros, así mismo la administración técnicamente durante la ejecución de las obras, en un todo de acuerdo con los contratos y las normas exigidas, velando permanentemente por el fiel cumplimiento de todas ellas.
    </p>
  </div>

  <div class="gerencia cerrado">

    <div class="titulo-transparente">
      <h2>GERENCIA DE PROYECTOS</h2>
    </div>

    <i class="fa fa-angle-down cerrado" aria-hidden="true"></i>
    <p class="texto-servicios animated fadeOut">
      Actividad que prestamos cuando los Clientes no tienen implementado en sus empresas las áreas de Ingeniería Civil o Arquitectura y así guiar e integrar los procesos de planificar, captar, dinamizar, organizar talentos y administrar recursos, con el fin de culminar todo el trabajo requerido para desarrollar un proyecto de Ingeniería Civil y cumplir con el alcance, dentro de límites de tiempo, y costo definidos.
    </p>
  </div>

</div>

<div class="espacio"></div>

<app-experiencia></app-experiencia>

<div class="bg-contacto">
  <app-footer></app-footer>
</div>
