<nav class="navbar  navbar-light bg-white">
  <a class="navbar-brand" [routerLink]="['/inicio']" data-toggle="tooltip" title="INICIO">
    <img src="../../../assets/img/coingcompleto.png" alt="">
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <img src="../../../assets/img/menugris.png">
  </button>
  <div class="collapse-navbar collapse show"  id="navbarNav">
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
        <a class="nav-link" [routerLink]="['/empresa']"  >
          <img src="../../../assets/img/la_empresa_2.png" alt="">
          <p>La Empresa</p>
        </a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
        <a class="nav-link" [routerLink]="['/buscar','']"  >
          <img src="../../../assets/img/proyectos_realizados_2.png" alt="">
          <p>Proyectos Realizados</p>
        </a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
        <a class="nav-link" [routerLink]="['/servicios']"  >
          <img src="../../../assets/img/servicios_2.png" alt="">
          <p>Servicios</p>
        </a>
      </li>
    </ul>
  </div>
</nav>
