<app-navbarwhite></app-navbarwhite>
<div class="portada-tratamiento animated fadeIn" id="portada-tratamiento">
  <h1>Política de Tratamiento de Información y Datos Personales</h1>
</div>
<div class="tratamiento">
<p>
  Actuando en acatamiento de los requerimientos que fueron establecidos para el tratamiento de los datos e información de carácter personal de titularidad de terceros, en su calidad de personas naturales, por disposición de la Ley 1581 de 2012 “por la cual se dictan disposiciones generales para la protección de datos personales” y sus decretos reglamentarios 1377 de 2013 y 886 de 2014, hoy derogados integralmente por los capítulos 25 y 26 del Decreto Único Reglamentario del sector Industria, Comercio y Turismo 1074 de fecha del 26 de mayo de 2015 y mediante el Decreto 1759 del 8 de noviembre de 2016 se modificó el artículo 2.2.2.26.3.1 del Decreto 1074 de 2015,  así como en las demás normas que la adicionen, modifiquen o reglamenten, COING INGENIERÍA LTDA., sociedad comercial legalmente constituida con arreglo a la legislación nacional, con domicilio principal en la ciudad de Santiago de Cali (Valle del Cauca), e identificada con el NIT 900.282.246-9 en el Registro Mercantil, obrando en estricto cumplimiento de los imperativos legales y comprometida con el correcto tratamiento de la información que usted nos ha suministrado en el marco de nuestras relaciones comerciales y/o laborales o actividades meramente informativas, nos permitimos dar a conocer nuestra política de tratamiento de la información y datos personales (PTIDP).
  <br>
  Recomendamos hacer una lectura juiciosa del presente documento, máxime cuando se pone de presente que el propósito de la PTIDP es informar y definir las reglas de tratamiento de la información y datos personales al interior de la empresa, así como las pautas para que usted pueda ejercer de manera oportuna y efectiva, en su calidad de titular de dicha información, sus derechos a la intimidad, buen nombre e información, de conformidad con lo establecido en los artículos 15 y 20 de la Constitución Nacional de la República de Colombia, especialmente, en lo concerniente a la facultad que tienen todas las personas de “conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos”.
</p>
<br>
<h2 id="contenido" class="wow animatedFadeInLeft">Tabla de Contenido</h2>
<hr>
<ul>
  <a href="tratamiento-de-datos#titulo-1"><li>TÍTULO I – Objeto, legislación y ámbito de aplicación</li></a>
  <a href="tratamiento-de-datos#titulo-2"><li>TÍTULO II - Definiciones y principios rectores</li></a>
  <a href="tratamiento-de-datos#titulo-3"><li>TÍTULO III – Derechos de los titulares y deberes de los responsables y encargados del tratamiento</li></a>
  <a href="tratamiento-de-datos#titulo-4"><li>TÍTULO IV - Autorización para el tratamiento de datos personales</li></a>
  <a href="tratamiento-de-datos#titulo-5"><li>TÍTULO V – Tratamiento y finalidades del tratamiento</li></a>
  <a href="tratamiento-de-datos#titulo-6"><li>TÍTULO VI – Atención de peticiones, consultas y reclamos</li></a>
  <a href="tratamiento-de-datos#titulo-7"><li>TÍTULO VII – Procedimiento para el tratamiento de datos personales</li></a>
  <a href="tratamiento-de-datos#titulo-8"><li>TÍTULO VIII – Vigencia</li></a>
  <a href="tratamiento-de-datos#titulo-9"><li>TÍTULO IX – Vigencia de las bases de datos y registro en el RNBD</li></a>
</ul>
<br>
<br>
<h3 id="titulo-1" class="wow animatedFadeInLeft">TÍTULO I – Objeto, legislación y ámbito de aplicación</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<ol>
  <li>
    <strong>OBJETO:</strong> El presente documento, contentivo de la política de tratamiento de la información y datos personales (PTIDP) de COING INGENIERÍA LTDA. pretende dar cumplimiento a lo establecido en el Título VI de la Ley 1581 de 2012, específicamente a las disposiciones contenidas en sus artículos 17 y 18, así como a lo reglado en el la Sección 3 del Capítulo 25 del Decreto Único Reglamentario 1074 de 2015, por medio del cual se reglamentó la precitada ley.<br>
    Así las cosas, se describen a continuación los procedimientos establecidos por nuestra compañía para hacer un debido tratamiento de las informaciones y datos de titularidad de terceros.
  </li>
  <li>
    <strong>LEGISLACIÓN APLICABLE E INTERPRETACIÓN:</strong> La PTIDP de COING INGENIERÍA LTDA. estará sujeta a las disposiciones contenidas en la Ley 1581 de 2012 y en el Decreto Único Reglamentario 1074 de 2015 que la reglamenta. Así mismo, se resalta que cualquier vacío en la normatividad antes citada se interpretará de conformidad con las disposiciones de la legislación colombiana en general, así como a la luz de los artículos 15 y 20 de la Constitución Nacional de la República de Colombia.
  </li>
  <li>
    <strong>ÁMBITO DE APLICACIÓN:</strong> La PTIDP de COING INGENIERÍA LTDA. será aplicable a dicha sociedad, a sus dependientes, bien sean filiales o subordinadas, que en virtud de la explotación y el desarrollo legal y responsable del objeto social de la compañía, hubieren recopilado u obtenido información o datos personales de titularidad de clientes, colaboradores, trabajadores o de terceros en general.
  </li>
</ol>
<br>
<h3 id="titulo-2" name="titulo-2" class="wow animatedFadeInLeft">TÍTULO II - Definiciones y principios rectores</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<ol start="4">
  <li>
    <strong>DEFINICIONES DE LA PTIDP:</strong> COING INGENIERÍA LTDA. pone en conocimiento de los titulares de la información y datos personales las siguientes definiciones y conceptos, cuyo uso reiterativo en el marco de la PTIDP impone el deber a la firma de ilustrar, de una manera clara, completa y oportuna, acerca del alcance de aquellas nociones al amparo de lo reglado por los artículos 3, 5 y 26 de Ley 1581 de 2012 y por el artículo 2.2.2.25.1.3 del Decreto Único Reglamentario 1074 de 2015, a saber:
    <ul>
      <li>
        <strong>Autorización:</strong> Se entiende por autorización al consentimiento previo, expreso e informado que el titular de la información y datos personales puede otorgar a COING INGENIERÍA LTDA. para que esta última pueda ejecutar actividades que impliquen tratamiento de dichos datos e informaciones.
      </li>
      <li>
        <strong>Base de datos:</strong> Entiéndase por base de datos al conjunto organizado de datos personales que sea objeto de tratamiento por parte de COING INGENIERÍA LTDA.
      </li>
      <li>
        <strong>Dato personal:</strong> Es cualquier información vinculada o que pueda asociarse a una o a varias personas naturales determinadas o determinables.
      </li>
      <li>
        <strong>Dato sensible:</strong> Se entiende por datos sensibles a aquellos que afectan la intimidad del titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y las garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual y reproductiva y los datos biométricos.
      </li>
      <li>
        <strong>Dato público:</strong> Entiéndase por dato público a aquel que no sea semiprivado, privado o sensible. En general, son considerados datos públicos, entre otros, aquellos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales, así como en sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva por expresa disposición legal.
      </li>
      <li>
        <strong>Encargado del tratamiento:</strong> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el tratamiento de datos personales por cuenta del responsable del tratamiento.
      </li>
      <li>
        <strong>Responsable del tratamiento:</strong> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el tratamiento de los datos. Para los efectos de la presente PTIDP, COING INGENIERÍA LTDA. hace las veces de encargada y de responsable del tratamiento de forma simultánea.
      </li>
      <li>
        <strong>Titular:</strong> Persona natural cuyos datos personales sean objeto de tratamiento.
      </li>
      <li>
        <strong>Tratamiento:</strong> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
      </li>
      <li>
        <strong>Aviso de privacidad:</strong> Comunicación verbal o escrita generada por el responsable del tratamiento, dirigida al titular de las informaciones y datos personales, mediante la cual se le informa acerca de la existencia de las PTIDP de COING INGENIERÍA LTDA. que le serán aplicables, la forma de acceder a las mismas y las finalidades del tratamiento que se pretende dar a sus datos personales.
      </li>
      <li>
        <strong>Transferencia:</strong> La transferencia de datos tiene lugar cuando el responsable y/o encargado del tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, quien a su vez es responsable del tratamiento, y se encuentra ubicado dentro o fuera del país.
      </li>
      <li>
        <strong>Transmisión:</strong> La transmisión es una modalidad de tratamiento de las informaciones y datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia, cuando tenga por objeto la realización de actividades de tratamiento por el encargado, pero siempre por cuenta del responsable.
      </li>
      <li>
        <strong>Registro Nacional de Bases de Datos:</strong> Es el directorio público de las bases de datos personales sujetas a actividades de tratamiento que operan en el país, cuya administración está a cargo de la Superintendencia de Industria y Comercio como máxima autoridad administrativa de vigilancia y control en materia de tratamiento de datos personales y habeas data.
      </li>
    </ul>
  </li>
  <li>
    <strong>PRINCIPIOS RECTORES DEL TRATAMIENTO DE DATOS PERSONALES:</strong> COING INGENIERÍA LTDA., en su doble calidad de encargado y responsable del tratamiento de datos personales, declara que la presente PTIDP se encuentra ajustada a las disposiciones de orden legal contenidas en la Ley 1581 de 2012 y Decreto Único Reglamentario 1074 de 2015, por lo que en el desarrollo de las actividades de tratamiento, en la aplicación de la PTIDP, y en la interpretación que de ella se hiciere con fundamento en las normas antes citadas, se aplicarán armónicamente los principios de legalidad, finalidad, libertad, veracidad o calidad, transparencia, acceso y circulación restringida, seguridad y confidencialidad, en los términos previstos por el artículo 4º de Ley 1581 de 2012.
  </li>
</ol>
<br>
<h3 id="titulo-3" class="wow animatedFadeInLeft">TÍTULO III – Derechos de los titulares y deberes de los responsables y encargados del tratamiento</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<ol start="6">
  <li>
    <strong>DERECHOS DE LOS TITULARES DE LOS DATOS PERSONALES:</strong> Con arreglo a lo dispuesto en el Título IV de la Ley 1581 de 2012, COING INGENIERÍA LTDA. garantizará a los titulares de las informaciones y datos personales objeto de tratamiento, el ejercicio de los siguientes derechos en cualquier tiempo y sin el cumplimiento de mayores requisitos:
    <ul>
      <li>
        Conocer, actualizar y rectificar sus datos personales frente a COING INGENIERÍA LTDA. en su calidad de responsable y encargada del tratamiento. Este derecho se podrá ejercer, entre otros, frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error o frente a aquellos cuyo tratamiento esté expresamente prohibido por ley o no haya sido autorizado por el titular.
      </li>
      <li>
        Solicitar prueba de la autorización otorgada a COING INGENIERÍA LTDA. en su calidad de responsable y encargada del tratamiento, salvo cuando expresamente se exceptúe como requisito para el tratamiento, de conformidad con lo previsto en el artículo 10 de Ley 1581 de 2012.
      </li>
      <li>
        Ser informado por parte de COING INGENIERÍA LTDA., en su calidad de responsable y encargada del tratamiento, previa solicitud, respecto del uso que se le ha dado a sus datos personales.
      </li>
      <li>
        Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la presente ley y las demás normas que la modifiquen, adicionen o complementen.
      </li>
      <li>
        Revocar la autorización y/o solicitar la supresión del dato personal cuando en el tratamiento de aquellos COING INGENIERÍA LTDA. no respetare los principios, derechos y garantías constitucionales y legales.*
      </li>
    </ul>
    <p>
      En todo caso, dicha revocatoria y/o supresión procederá únicamente cuando la Superintendencia de Industria y Comercio haya determinado que en el desarrollo de las actividades de tratamiento, la empresa ha incurrido en conductas contrarias a la Ley 1581 de 2012 y a la Constitución Nacional de la República de Colombia.
    </p>
  </li>
  <li>
    <strong>LEGITIMACIÓN PARA EL EJERCICIO DE LOS DERECHOS DEL TITULAR:</strong> Al tenor del artículo 2.2.2.25.4.1 del Decreto Único Reglamentario 1074 de 2015, los derechos de los titulares de los datos e informaciones de carácter personal podrán ser ejercidos por las personas que se mencionan a continuación:
    <ol type="a">
      <li>
        Por el respectivo titular, quien deberá acreditar su identidad en forma suficiente por los distintos medios que ponga a disposición el responsable.
      </li>
      <li>
        Por sus causahabientes, quienes deberán acreditar tal calidad.
      </li>
      <li>
        Por el representante y/o apoderado del titular, previa acreditación de la representación o apoderamiento.
      </li>
      <li>
        Por estipulación a favor de otro o para otro.
      </li>
    </ol>
    <br>
    Dado el caso en que el titular de la información sea un menor de edad, sus derechos podrán ser ejercidos únicamente por las personas que de conformidad con la ley estén facultadas para representarlos.
  </li>
  <li>
    <strong>DEBERES DE LOS RESPONSABLES Y ENCARGADOS DEL TRATAMIENTO:</strong> COING INGENIERÍA LTDA., en su doble calidad de encargada y responsable del tratamiento de datos personales, reconoce que se encuentra obligado a cumplir los deberes establecidos en el Título VI de la Ley 1581 de 2012.
  </li>
</ol>
<br>
<h3 id="titulo-4" class="wow animatedFadeInLeft">TÍTULO IV - Autorización para el tratamiento de datos personales</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<br>
<ol start="9">
  <li>
    <strong>MEDIDAS IMPLEMENTADAS PARA GARANTIZAR EL ACCESO A LA PTIDP:</strong> En la medida en que COING INGENIERÍA LTDA. ha recolectado datos e informaciones de carácter personal en momentos anteriores a la entrada en vigencia del Decreto 1377 de 2013, esto es, antes del 27 de junio de dicho año, la compañía, con el objetivo de cumplir cabalmente con lo establecido en el numeral 1º del artículo 2.2.2.25.2.7 del Decreto Único Reglamentario 1074 de 2015, hizo uso de los mecanismos eficientes de comunicación de que trata el numeral 2º de la misma disposición, con el objetivo de solicitar una nueva autorización a los titulares de las mencionadas informaciones y datos de carácter personal, así como con el objetivo de poner en su conocimiento la presente PTIDP a través del respectivo aviso de privacidad.<br>COING INGENIERÍA LTDA. hace constar, en el caso particular, que el canal de comunicación que ordinariamente es utilizado para interactuar con los titulares de los datos e informaciones personales registrados en su base de datos es la comunicación a través de correo electrónico.
  </li>
  <li>
    <strong>AUTORIZACIÓN DEL TITULAR:</strong> Toda actividad de recopilación, conservación, uso, manejo, actualización, corrección, supresión y, en general, toda actividad mediante la cual se pretenda obtener y/o tratar datos e información de carácter personal de titularidad de terceros, deberá llevarse a cabo mediante autorización previa, expresa y libre de sus respectivos titulares.<br>En todo caso, con el otorgamiento de la autorización por parte del titular para la recolección y el tratamiento de las informaciones y datos personales, se entenderá que este ha leído la presente PTIDP, puesto que se le ha informado de manera verbal y escrita, a través del respectivo aviso de privacidad, que la PTIDP se encuentra a disposición del público en el sitio web de COING INGENIERÍA LTDA.<br>Igualmente, por medio de la autorización para la recolección y tratamiento de la información y datos personales, el titular declara que dichos datos e información son veraces, completos, exactos, actualizados, comprobables, comprensibles y corresponden a la realidad vigente para el momento en que son suministrados.
  </li>
  <li>
    <strong>MECANISMO DE PRUEBA DE LA AUTORIZACIÓN DEL TITULAR:</strong> Será deber de COING INGENIERÍA LTDA. poner a disposición de los titulares de las informaciones y datos personales objeto de tratamiento el documento de autorización, con la finalidad de que exista un consentimiento libre, expreso, previo y, en el mejor de los casos, escrito, lo suficientemente informado.<br>La autorización otorgada por el titular de la información podrá constar por escrito, ya sea en un documento físico, digital o en medios magnéticos, así como en archivos de audio, plataformas tecnológicas de almacenamiento de datos en línea o en cualquier otro medio idóneo y apto para probar la existencia del consentimiento del titular y la autorización para el tratamiento de sus datos personales.<br>Para aquellos casos en los cuales se suscriba un contrato escrito de cualquier naturaleza entre el titular de las informaciones y datos personales y COING INGENIERÍA LTDA., será viable consignar en dicho documento o en sus respectivos otrosíes, según el caso, la autorización previa para el tratamiento de datos personales.
  </li>
  <li>
    <strong>CASOS EN QUE NO ES NECESARIA LA AUTORIZACIÓN:</strong> Con arreglo a lo dispuesto por el artículo 10 de Ley 1581 de 2012, la autorización del titular no se requerirá cuando las informaciones o datos objeto de tratamiento sean de aquellos que se describen a continuación:
    <ol type="a">
      <li>
        Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial.
      </li>
      <li>
        Datos de naturaleza pública.
      </li>
      <li>
        Casos de urgencia médica o sanitaria.
      </li>
      <li>
        Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos.
      </li>
      <li>
        Datos relacionados con el registro civil de las personas.
      </li>
    </ol>
  </li>
  <li>
    <strong>REVOCATORIA DE LA AUTORIZACIÓN Y SOLICITUD DE SUPRESIÓN DEL DATO:</strong> En los términos del artículo 9 de Ley 1581 de 2012, los titulares de las informaciones y datos personales podrán, en todo momento, solicitar a COING INGENIERÍA LTDA. en su doble calidad de encargado y responsable, la supresión de sus datos personales y/o revocar la autorización otorgada para el tratamiento de los mismos, previa presentación de un reclamo.<br>De conformidad con el artículo 2.2.2.25.2.8 del Decreto Único Reglamentario 1074 de 2015, la solicitud de supresión de la información y la revocatoria de la autorización no procederán cuando el titular de aquella tenga un deber legal o contractual de permanecer en la base de datos.<br>En el hipotético caso en que haya vencido el término establecido para dar respuesta a la solicitud de revocatoria de autorización o supresión de los datos personales, sin que COING INGENIERÍA LTDA. hubiere revocado la autorización o eliminado los datos ni dado respuesta acerca de la improcedencia de aquella, el titular tendrá derecho a acudir a la Superintendencia de Industria y Comercio para que dicha entidad, en uso de sus facultades jurisdiccionales, ordene la revocatoria de la autorización y/o la supresión de los datos personales, previo agotamiento del procedimiento sancionatorio establecido en el artículo 22 de Ley 1581 de 2012.
  </li>
</ol>
<br>
<h3 id="titulo-5" class="wow animatedFadeInLeft">TÍTULO V – Tratamiento y finalidades del tratamiento</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<br>
<ol start="14">
  <li>
    <strong>DATOS PERSONALES OBJETO DE TRATAMIENTO:</strong> Las informaciones y/o datos personales que serán objeto de tratamiento por parte de COING INGENIERÍA LTDA. serán única y exclusivamente los siguientes:
    <ul>
      <li>
        Nombres y apellidos.
      </li>
      <li>
        Razón Social.
      </li>
      <li>
        Número de cédula de ciudadanía y lugar de expedición.
      </li>
      <li>
        NIT
      </li>
      <li>
        Domicilio o lugar de residencia.
      </li>
      <li>
        País de residencia.
      </li>
      <li>
        Dirección.
      </li>
      <li>
        Dirección de correo electrónico.
      </li>
      <li>
        Información de carácter económico, patrimonial o crediticio.
      </li>
    </ul>
  </li>
  <li>
    <strong>PROHIBICIÓN GENERAL DE TRATAMIENTO DE DATOS SENSIBLES:</strong> De conformidad con lo reglado en el inciso 1º del artículo 6 de Ley 1581 de 2012, el tratamiento de datos personales sensibles está prohibido por regla general.<br>Para dichos efectos, y con arreglo a lo establecido en el artículo 2.2.2.25.2.3 del Decreto Único Reglamentario 1074 de 2015, COING INGENIERÍA LTDA. solicitará autorización expresa y escrita al titular del dato sensible para que consienta su tratamiento, después de informarle de manera explícita lo siguiente:
    <ol type="a">
      <li>
        Que no está obligado a autorizar el tratamiento de los datos sensibles siempre que no sea su voluntad.
      </li>
      <li>
        Que dar respuesta a cualquier interrogante o cuestionamiento que COING INGENIERÍA LTDA. realice a través de sus colaboradores y/o dependientes en relación con sus datos personales sensibles es facultativo.
      </li>
      <li>
        Cuáles serán sus datos sensibles que serán objeto de tratamiento por parte de la firma y con qué finalidad.
      </li>
      <li>
        Que toda la información relativa a datos sensibles que se brinde a los colaboradores y dependientes quedará amparada bajo el secreto profesional en los términos de ley, y que se utilizarán medidas adecuadas e idóneas para su protección.
      </li>
    </ol>
  </li>
  <li>
    <strong>TRATAMIENTO DE DATOS PERSONALES DE MENORES DE EDAD: COING INGENIERÍA LTDA.</strong> conoce y respeta la prohibición establecida en el artículo 7 de Ley 1581 de 2012 respecto del tratamiento de datos de niños, niñas y adolescentes, salvo en aquellos casos en que los mismos sean de aquellos datos susceptibles de ser considerados como de naturaleza pública. Por lo anterior, y en el evento en que la compañía pretenda adelantar actividades de tratamiento de datos personales públicos de titularidad de menores de edad, COING INGENIERÍA LTDA. abogará y respetará el interés superior de estos, asegurando un absoluto respeto de sus derechos fundamentales.<br>Así mismo, COING INGENIERÍA LTDA. se abstendrá de someter los datos privados y semiprivados de titularidad de menores de edad a actividades de tratamiento sin que medie la respectiva autorización del representante legal del menor en los términos de ley y de acuerdo con la presente PTIDP.
  </li>
  <li>
    <strong>TRATAMIENTO AL CUAL SERÁN SOMETIDOS LOS DATOS:</strong> COING INGENIERÍA LTDA. garantiza que la información contenida en su base de datos será utilizada de manera correcta y para fines lícitos, conforme a la normatividad vigente y sin agravio al derecho al habeas data amparado por la Constitución Nacional de la República de Colombia.<br>El tratamiento de los datos personales antes descritos por parte de la compañía se circunscribirá únicamente a las actividades de recolección almacenamiento y uso de dicha información, con las finalidades que se describen en el artículo siguiente.<br><strong>PARÁGRAFO PRIMERO:</strong> COING INGENIERÍA LTDA. garantiza a todos los depositantes de información y datos personales que esta no será utilizada para fines distintos a los respectivamente autorizados por sus titulares, ni será vendida, ni comercializada a terceros bajo ninguna figura, nacional ni internacionalmente, sin que medie previa autorización.
  </li>
  <li>
    <strong>FINALIDADES DEL TRATAMIENTO:</strong> COING INGENIERÍA LTDA. garantiza que las informaciones y datos personales que recolecte y sean objeto de tratamiento serán utilizadas única y exclusivamente con la finalidad de desarrollar a cabalidad el objeto social de la compañía.<br>Lo anterior implica que el tratamiento de los datos personales realizado por la empresa tendrá las siguientes finalidades particulares:
    <ul>
      <li>
        Mejorar la experiencia de los usuarios del sitio web de la compañía, ya sea para proporcionar mayores elementos interactivos o personalizados en el sitio o para preparar mejor el contenido futuro basado en los intereses particulares de nuestros usuarios.
      </li>
      <li>
        Cumplir con las solicitudes de servicios realizadas por clientes de la firma.
      </li>
      <li>
        Brindar un correcto manejo a las relaciones de carácter laboral, especialmente, a todo lo concerniente a la suscripción de contratos de trabajo y a la afiliación de los trabajadores a los sistemas de seguridad social en salud, pensiones y riesgos laborales.
      </li>
      <li>
        Brindar un correcto manejo a las relaciones comerciales con clientes y proveedores de la empresa.
      </li>
      <li>
        Suministrar información y material relacionado con el portafolio de servicios de la compañía, así como de novedades, noticias y boletines legales de interés para los clientes, previa aceptación expresa por parte de éstos a través de la cual confirmen su voluntad de recibir dichos contenidos.
      </li>
    </ul>
  </li>
</ol>
<strong>PARÁGRAFO PRIMERO:</strong> Cualquier modificación que ataña a las finalidades del tratamiento será notificada a los titulares de las informaciones y datos personales recolectados por la firma o suministrados a ella por parte de terceros, o a sus respectivos representantes en el caso de los menores de edad. Así mismo, y junto con el mencionado aviso de modificación, COING INGENIERÍA LTDA. solicitará a los respectivos titulares una nueva autorización en relación con la nueva finalidad del tratamiento, sin que constituya una obligación para éstos suscribir dicho documento en señal de aceptación.<br>En el caso en que el titular de los datos personales no autorice la nueva finalidad del tratamiento, COING INGENIERÍA LTDA. continuará brindando el tratamiento previamente autorizado a sus datos personales, sin perjuicio de que el titular de los mismos pueda ejercer su derecho de conocer, rectificar, actualizar o solicitar la supresión de sus datos en cualquier tiempo.
<br><br>
<h3 id="titulo-6" class="wow animatedFadeInLeft">TÍTULO VI – Atención
   de peticiones, consultas y reclamos</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<br>
<ol start="19">
  <li>
    <strong>ÁREA DESIGNADA PARA LA ATENCIÓN DE PETICIONES, CONSULTAS Y RECLAMOS:</strong> COING INGENIERÍA LTDA. ha designado al área de recepción y gestión de PQR sobre tratamiento de datos personales para atender de manera adecuada y oportuna las peticiones, consultas y reclamos que eleven los titulares de las informaciones y datos personales a la compañía.<br>Así mismo, COING INGENIERÍA LTDA. ha habilitado la línea telefónica <a href="tel:+5723702688">(57) (2) 3702688</a> en la ciudad de Cali (Valle del Cauca), a través de la cual se le remitirá al asesor encargo de atención de peticiones, quejas y reclamos en materia de datos personales, a Luis Hernando Lozano Bolívar o quien haga sus veces, quien brindará información general a los titulares de los datos personales en relación con el procedimiento para conocer, actualizar, rectificar o solicitar la supresión de los datos personales, así como para revocar la autorización para el tratamiento.<br>También se podrá obtener información a través de comunicación remitida vía correo electrónico a la siguiente dirección: <a href="mailto:info@coingltda.com" target="_top"> info@coingltda.com </a> <br> Por su parte, las peticiones y reclamos de que trata el Título VII de esta PTIDP, deberán ser radicadas por escrito al correo electrónico info@coingltda.com o en nuestra página web <a href="www.coingltda.com">www.coingltda.com</a>
  </li>
  <li>
    <strong>PERSONAS A QUIENES SE LES PUEDE SUMINISTRAR LA INFORMACIÓN:</strong> En los términos del artículo 13 de Ley 1581 de 2012, las informaciones y datos personales podrán ser suministrados por COING INGENIERÍA LTDA., previa solicitud escrita para el efecto, a las siguientes personas:
    <ol type="a">
      <li>
        A los respectivos titulares, sus causahabientes o sus representantes legales.
      </li>
      <li>
        A las entidades públicas o administrativas en ejercicio de sus funciones.
      </li>
      <li>
        A los terceros que hubieren sido expresamente autorizados por el titular de los datos o que por expresa disposición legal estén facultados para solicitar la información.
      </li>
    </ol>
  </li>
  <li>
    <strong>TÉRMINO PARA RESOLVER CONSULTAS:</strong> De conformidad con lo reglado en el artículo 14 de Ley 1581 de 2012, COING INGENIERÍA LTDA. está en la obligación de dar respuesta a las consultas elevadas por los titulares de los datos personales o por sus respectivos causahabientes encaminadas a consultar y conocer la información personal objeto de tratamiento, en un término máximo de diez (10) días hábiles contados a partir de la fecha de radicación de la solicitud.<br>En el evento en que la compañía no pueda atender la solicitud dentro del término antes descrito, estará en la obligación de notificar al solicitante acerca de los motivos que dieron lugar a la demora y, en todo caso, dará respuesta a la solicitud dentro de los cinco (5) días hábiles siguientes al vencimiento del primer término.
  </li>
  <li>
    <strong>TÉRMINO PARA RESOLVER PETICIONES Y RECLAMOS:</strong> Atendiendo a lo dispuesto por el numeral 3 del artículo 15 de Ley 1581 de 2012, las peticiones que no estén relacionadas con una solicitud de conocimiento o consulta de la información objeto de tratamiento, así como los reclamos que interpusieren los titulares o sus respectivos causahabientes, deberán ser resueltas por COING INGENIERÍA LTDA. en un término no mayor a quince (15) días contados a partir del día siguiente a la fecha de su radicación.<br>En el evento en que la compañía no pueda atender la petición o reclamo dentro del término antes descrito, estará en la obligación de notificar al solicitante acerca de los motivos que dieron lugar a la demora y, en todo caso, dará respuesta a la solicitud dentro de los ocho (8) días hábiles siguientes al vencimiento del primer término.
  </li>
  <li>
    <strong>REQUISITO DE PROCEDIBILIDAD:</strong> COING INGENIERÍA LTDA. advierte a los titulares de las informaciones de datos personales así como a sus respectivos causahabientes de que la interposición de consultas, peticiones y reclamos ante la empresa constituye requisito de procedibilidad para elevar una queja ante la Superintendencia de Industria y Comercio frente a una presunta vulneración de los derechos de los titulares de las informaciones o datos personales, por lo que dicha entidad no dará trámite a las quejas que se interpusieren sin el agotamiento de la etapa previa antes mencionada. Todo lo anterior, de conformidad con lo consagrado en el artículo 16 de Ley 1581 de 2012.
  </li>
</ol>
<br>
<h3 id="titulo-7" class="wow animatedFadeInLeft">TÍTULO VII – Procedimiento para el tratamiento de datos personales</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<br>
<ol start="24">
  <li>
    <strong>CONSIDERACIONES GENERALES FRENTE AL TRATAMIENTO DE LA INFORMACIÓN Y DATOS PERSONALES:</strong> COING INGENIERÍA LTDA. realiza la recolección de las informaciones y datos personales a través de los documentos requeridos para la prestación de los servicios ofertados por la firma y contratados por sus titulares en calidad de clientes, a través de las hojas de vida presentadas por los trabajadores en los procesos de selección y documentos necesarios para la vinculación de los mismos a los diferentes sistemas de seguridad social y riesgos laborales, así como los suministrados por los clientes de carácter financiero para la ejecución de actividades de recuperación de cartera, los suministrados por clientes corporativos para labores de consultoría y los suministrados por los usuarios del sitio web de la empresa.<br>Las informaciones y datos personales recolectados por COING INGENIERÍA LTDA. son almacenados en bases de datos a través de un software debidamente licenciado, el cual es suministrado a la compañía por terceros especializados en el suministro de dichas herramientas tecnológicas para el almacenamiento, administración y custodia de datos e información, con quienes se suscriben acuerdos de confidencialidad en aras de salvaguardar el contenido de aquella y la privacidad e intimidad de sus titulares.<br>Así mismo, la empresa subcontrata servicios de tecnología e informática con terceros debidamente capacitados para monitorear dicho software y garantizar el debido funcionamiento del mismo, así como detectar amenazas o malware que pueda poner en riesgo la seguridad de los datos personales objeto de tratamiento.<br>Con tales prestadores, se suscriben los respectivos contratos de prestación de servicios, incluyendo cláusulas de confidencialidad y sanciones pecuniarias en el evento en que se vulnere la respectiva reserva de la información a la que pudieren acceder durante la prestación de los servicios de asesoría tecnológica e informática.
  </li>
  <li>
    <strong>PROCEDIMIENTO PARA CONOCER LA INFORMACIÓN:</strong> Los titulares de las informaciones o datos personales o sus respectivos causahabientes podrán consultar la información personal del titular que repose en las bases de datos de COING INGENIERÍA LTDA. Para ello, pueden contactarse vía telefónica con el área designada para la atención de este tipo de solicitudes, o pueden radicar solicitud escrita dirigida a aquella en las dependencias de la compañía.<br>En el caso de que la solicitud sea realizada vía telefónica, COING INGENIERÍA LTDA., por conducto de sus colaboradores y dependientes, informará al solicitante que la llamada podrá ser grabada y monitoreada con el objetivo de mantener prueba de la solicitud y de la respuesta parcial o total que se hubiere dado a aquella.<br>Por otra parte, y en el caso en que la solicitud sea interpuesta por escrito, el documento deberá contener, como mínimo, el nombre completo del titular y su número de identificación, nombre completo e identificación del solicitante, indicación de la solicitud de conocimiento y acceso a la información objeto de tratamiento de forma clara y concisa, y datos para notificación (dirección, teléfono, celular o móvil y correo electrónico).<br>COING INGENIERÍA LTDA. deberá dar una respuesta a la solicitud de consulta o conocimiento de la información dentro del término establecido en el Título VI de esta PTIDP, en consonancia con lo establecido en el artículo 14 de Ley 1581 de 2012.
  </li>
  <li>
    <strong>PROCEDIMIENTO PARA INTERPONER PETICIONES Y RECLAMOS:</strong> El titular de las informaciones o datos personales o sus respectivos causahabientes podrán interponer un reclamo ante COING INGENIERÍA LTDA., en su doble calidad de encargada y responsable del tratamiento, en el momento en que consideren que la información contenida en una base de datos de la empresa debe ser objeto de corrección, actualización o supresión, o cuando adviertan un presunto incumplimiento de cualquiera de los deberes contenidos en esta PTIDP y en la Ley 1581 de 2012, el cual será tramitado bajo las siguientes reglas:<br>El reclamo deberá interponerse por escrito y estar dirigido a COING INGENIERÍA LTDA., identificando al titular de los datos e información personal con nombre completo, apellidos y número de identificación, deberá contener además una descripción de los hechos en que se funda la reclamación, la dirección en la que el(los) solicitante(s) recibirán notificaciones y deberá acompañarse con las pruebas documentales que se desee hacer valer.<br>En el evento en que el reclamo sea recibido por un departamento, área o dependencia de la compañía que carezca de competencia para darle trámite y resolverlo, procederá trasladarlo a quien corresponde en un término no mayor a dos (2) días hábiles e informará de la situación al solicitante.<br>Así mismo, cuando el escrito de reclamación no cuente con los elementos mínimos descritos en el inciso primero de este artículo, COING INGENIERÍA LTDA., por conducto de sus dependientes y colaboradores, requerirá al solicitante dentro de los cinco (5) días hábiles siguientes a la radicación de la reclamación para que subsane las fallas o aporte los documentos que hagan falta.<br>En todo caso, COING INGENIERÍA LTDA. deberá dar una respuesta a la petición o reclamo dentro del término establecido en el Título VI de esta PTIDP, en consonancia con lo establecido en el artículo 15 de Ley 1581 de 2012.
  </li>
</ol>
<br>
<h3 id="titulo-8" class="wow animatedFadeInLeft">TÍTULO VIII – Vigencia</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<br>
<ol start="27">
  <li>
    La presente PTIDP de COING INGENIERÍA LTDA. rige a partir del 23 de junio de 2017 y de manera indefinida, por lo que su contenido obliga a la compañía mientras permanezcan vigentes las relaciones contractuales, comerciales, laborales o meramente informativas con los titulares de las informaciones y datos personales. Lo anterior, sin perjuicio del derecho de los titulares a solicitar la revocatoria de la autorización para el tratamiento de sus datos e informaciones personales.<br>En todo caso, y aun cuando medie solicitud de revocatoria de la autorización para el tratamiento, COING INGENIERÍA LTDA. advierte que de conformidad con lo dispuesto en el Título IV de esta PTIDP, los datos personales serán conservados cuando así se requiera para el cumplimiento de una obligación de carácter legal o contractual que hubiere surgido entre la empresa y el respectivo titular.<br>Finalmente, COING INGENIERÍA LTDA. hace constar que se reserva el derecho a hacer ajustes al contenido de la presente PTIDP cuando las actividades del tratamiento y/o la finalidad del tratamiento de los datos e información personal cambien, o cuando los cambios normativos en la materia lo justifiquen.<br>En todo caso, dichos cambios serán debidamente comunicados a los titulares a través de los mecanismos eficientes de comunicación comúnmente utilizados en el giro ordinario de las relaciones comerciales o promocionales que con ellos se sostienen.
  </li>
</ol>
<br>
<h3 id="titulo-9" class="wow animatedFadeInLeft">TÍTULO IX – Inscripción de bases de datos en el registro nacional de bases de datos – RNBD</h3>
<hr>
<a href="tratamiento-de-datos#contenido">Tabla de Contenido</a>
<br>
<ol start="28">
  <li>
    <strong>CONSIDERACIONES GENERALES DEL RNBD:</strong> En los términos del artículo 3º del Decreto Único Reglamentario 1074 de 2015, COING INGENIERÍA LTDA., en su calidad de persona jurídica de derecho privado que hace las veces de responsable y encargada del tratamiento de datos e informaciones de carácter personal, debe inscribir las bases de datos contentivas de dichas informaciones en el Registro Nacional de Base de Datos, de manera independiente. Lo anterior, atendiendo a los términos y condiciones de inscripción previstos en la Sección 3 del Capítulo 26 del Decreto Único Reglamentario 1074 de 2015, en cuyo artículo 2.2.2.26.3.2 se establece que será la Superintendencia de Industria y Comercio quien establecerá el procedimiento de inscripción de las bases de datos en el Registro Nacional de Bases de Datos que deberán cumplir los responsables del tratamiento, previa validación de su identidad, de acuerdo con la reglamentación que expida la mencionada entidad.<br>Así las cosas, la Superintendencia de Industria y Comercio, haciendo uso de su potestad reglamentaria, en fecha del 3 de noviembre de 2015 expidió la Circular Externa 002, por medio de la cual se dispuso “adicionar el Capítulo Segundo en el Título V de la Circular Única de la Superintendencia de Industria y Comercio”, y reglamentó así el procedimiento de inscripción de las bases de datos personales en el Registro Nacional de Bases de Datos – RNBD -, así como los procedimientos para su actualización y consulta.
  </li>
  <li>
    <strong>CONSULTA DEL RNBD:</strong> Con sujeción a lo establecido en el artículo 2.2.2.26.1.4 del Decreto Único Reglamentario 1074 de 2015, los ciudadanos podrán consultar en el Registro Nacional de Bases de Datos – RNBD – la información mínima prevista en el artículo 2.2.2.26.1 de dicho decreto, <i>“con el fin de facilitar el ejercicio de sus derechos a conocer, actualizar, rectificar, suprimir el dato y/o revocar la autorización.”</i>
  </li>
  <li>
    <strong>INFORMACIÓN MÍNIMA DEL RNBD:</strong> De conformidad con lo establecido en el artículo 2.2.2.26.2.1 del Decreto Único Reglamentario 1074 de 2015, la información mínima que debe contener el Registro Nacional de Bases de Datos – RNBD – es la siguiente:
    <ol type="a">
      <li>
        Datos de identificación, ubicación y contacto del responsable del tratamiento de la base de datos, en este caso, COING INGENIERÍA LTDA., incluyendo su denominación o razón social y su número de identificación tributaria (NIT) por ser una persona jurídica (artículo 2.2.2.26.2.2 del Decreto Único Reglamentario 1074 de 2015).
      </li>
      <li>
        Datos de identificación, ubicación y contacto del o de los encargados del tratamiento de la base de datos, en este caso, COING INGENIERÍA LTDA., en su doble calidad de responsable y encargado del tratamiento de los datos e informaciones personales, incluyendo su denominación o razón social y su número de identificación tributaria (NIT) por ser una persona jurídica (artículo 2.2.2.26.2.3 del Decreto Único Reglamentario 1074 de 2015).
      </li>
      <li>
        Canales para que los titulares ejerzan sus derechos, esto es, aquellos identificados en los Capítulos VI y VII de esta PTIDP.
      </li>
      <li>
        Forma de tratamiento de la base de datos, esto es, si las actividades de tratamiento de aquella se realizan de forma manual o automatizada.
      </li>
      <li>
        La presente PTIDP.
      </li>
    </ol>
    <br>
    Paralelamente, el último inciso del artículo 2.2.2.26.2.1 del Decreto Único Reglamentario 1074 de 2015 estatuye que “La Superintendencia de Industria y Comercio, como autoridad de protección de datos personales, podrá establecer dentro del Registro Nacional de Bases de Datos información adicional a la mínima prevista en este artículo, en uso de las facultades que le atribuyó la Ley 1581 de 2012 en el literal h) del artículo 21”, potestad esta de la que hizo uso a través de la Circular Externa No, 002 del 3 de noviembre de 2015, incluyendo en el numeral 2.1. de dicho capítulo como información mínima adicional a suministrar en el Registro Nacional de Bases de Datos – RNBD – la siguiente:
    <ol type="a">
      <li>
        Información almacenada en la base de datos.
      </li>
      <li>
        Medidas de seguridad de la información.
      </li>
      <li>
        Procedencia de los datos personales.
      </li>
      <li>
        Transferencia internacional de datos personales.
      </li>
      <li>
        Transmisión internacional de datos personales.
      </li>
      <li>
        Cesión o transferencia nacional de base de datos.
      </li>
      <li>
        Reporte de novedades, diferenciando entre los reclamos presentados por los titulares* y los incidentes de seguridad*, los cuales deberán ser reportados dentro de los términos y oportunidades establecidas para ello en los numerales (i) y (ii) del literal g) del artículo 2.1 antes referenciado.<br>*Por expresa disposición legal, la información relacionada con las medidas de seguridad, los reclamos presentados por los titulares y los incidentes reportados, no estarán disponibles para consulta pública.<br> <strong>PARÁGRAFO PRIMERO:</strong> El alcance de la información adicional antes enunciada será aquel descrito expresamente en el artículo 2.1 del Capítulo Segundo del Título V de la Circular Única de la Superintendencia de Industria y Comercio, adicionado mediante la Circular Externa No 002 del 3 de noviembre de 2015.
      </li>
    </ol>
  </li>
  <li>
    <strong>PROCEDIMIENTO PARA LA INSCRIPCIÓN EN EL RNBD:</strong> A pesar del cronograma sugerido por la Superintendencia de Industria y Comercio en el artículo 2.2. del Capítulo Segundo del Título V de la Circular Única de la Superintendencia de Industria y Comercio, adicionado mediante la Circular Externa No 002 del 3 de noviembre de 2015, COING INGENIERÍA LTDA. procederá a inscribir sus bases de datos en el Registro Nacional de Bases de Datos – RNBD –  según Decreto 1759 del 8 de noviembre de 2016 donde modificó el artículo 2.2.2.26.3.1 del Decreto 1074 de 2015 - Decreto Único Reglamentario del Sector Comercio, Industria y Turismo, relacionado con el plazo para llevar a cabo el registro de las bases de datos. En particular, el decreto señaló lo siguiente: "Artículo 2.2.2.26.3.1. Plazo de inscripción. La inscripción de las bases de datos en el Registro Nacional de Bases de Datos se llevará a cabo en los siguientes plazos: Los Responsables del Tratamiento, personas jurídicas de naturaleza privada y sociedades de economía mixta inscritas en las cámaras de comercio del país, deberán realizar la referida inscripción a más tardar el treinta (30) de junio de 2017, de acuerdo con las instrucciones que para el efecto imparta la Superintendencia de Industria y Comercio.<br>La inscripción de las bases de datos de la compañía se realizará de acuerdo con las instrucciones contenidas en el “Manual del Usuario del Registro Nacional de Bases de Datos –RNBD-“, publicado en el sitio web de la Superintendencia de Industria y Comercio.
  </li>
  <li>
    <strong>ACTUALIZACIÓN DE LA INFORMACIÓN CONTENIDA EN EL RNBD:</strong> De conformidad con lo dispuesto en el artículo 2.3 del Capítulo Segundo del Título V de la Circular Única de la Superintendencia de Industria y Comercio, adicionado mediante la Circular Externa No 002 del 3 de noviembre de 2015, COING INGENIERÍA LTDA. actualizará la información contenida en el RNBD, así:
    <ol type="a">
      <li>
        Dentro de los primeros diez (10) días hábiles de cada mes, cuando se realicen cambios sustanciales a la información registrada.
      </li>
      <li>
        Anualmente, entre el dos (2) de enero y el treinta y uno (31) de marzo, a partir el 2018.
      </li>
      <li>
        Dentro de los quince (15) primeros días hábiles de los meses de febrero y agosto de cada año, a partir de su inscripción, respecto de la información relativa a los reclamos presentadas por los titulares de que trata el numeral (i) del literal g) del artículo 2.1 de la norma citada, debiendo realizarse el primer reporte en el primer semestre de 2017, con la información correspondiente al segundo semestre de 2016.
      </li>
    </ol>
    <strong>PARÁGRAFO PRIMERO:</strong> Para los efectos del numeral (i) antes descrito, se entenderá por cambios sustanciales los descritos en el inciso segundo del artículo 2.3 del Capítulo Segundo del Título V de la Circular Única de la Superintendencia de Industria y Comercio, adicionado mediante la Circular Externa No 002 del 3 de noviembre de 2015.
  </li>
</ol>
</div>
