<div class="container-ejecucion wow zoomIn">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <h3>EN EJECUCIÓN...</h3>
    <div class="carousel-inner container ejecucion">
      <div class="carousel-item " *ngFor="let item of recientes; let index = index" [class.active]="index == 0" >
        <img class="foto-ejecucion" src="{{'../../../assets/img/'+item.Foto}}">
        <div class="">
          <h5>{{item.Proyecto}}</h5>
          <p>{{item.Desc}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" *ngIf="recientes.length > 1">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" *ngIf="recientes.length > 1">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>
</div>
