<div class="navbar-absolute">
  <nav class="navbar navbar-light bg-transparent">
    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img src="../../../assets/img/coing.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../assets/img/toggler.png" alt="">
    </button>
    <div class="collapse navbar-collapse"  id="navbarNav">
      <ul class="navbar-nav" routerLinkActive="active">
        <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
          <a class="nav-link" [routerLink]="['/empresa']"  >
            <img src="../../../assets/img/la_empresa.png" alt="">
            <p>La Empresa</p>
          </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
          <a class="nav-link" [routerLink]="['/buscar','']"  >
            <img src="../../../assets/img/proyectos_realizados.png" alt="">
            <p>Proyectos Realizados</p>
          </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
          <a class="nav-link" [routerLink]="['/servicios']"  >
            <img src="../../../assets/img/servicios.png" alt="">
            <p>Servicios</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
