<app-navbarwhite id="proyectos-inicio"></app-navbarwhite>

<div class="portada-proyectos animated fadeIn">
  <img src="../../assets/img/hexagono.png" alt="" class="hexa">
  <h1>PROYECTOS<br>REALIZADOS</h1>
</div>

<div class="contenedor-proyectos">



  <div class="input-group mb-3 sticky-top">
    <input type="text" class="col-sm-4 form-control" placeholder="Buscar proyecto" (keyup)="buscarProyecto(buscar.value)" #buscar>
  </div>

  <div class="jumbotron" *ngIf="proyectos.length < 1">
    <h1 class="display-4">No hay resultados para tu búsqueda</h1>
    <p class="lead">Intenta con otro término por favor.</p>
    <hr class="my-4">
  </div>


  <!-- <div class="clientes" *ngFor="let item of clientes"> -->
  <div class="card-columns" >
    <!-- <div class="card animated bounceInUp" *ngFor="let proyecto of item">
      <img class="card-img-top" src="{{'../../assets/img/'+proyecto.Foto}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{proyecto.Cliente}}</h5>
        <p class="card-text">{{proyecto.Proyecto}}</p>
        <p class="card-text"><small class="text-muted">{{proyecto.Periodo}}</small></p>
      </div>
    </div>
  </div> -->

    <div class="card animated bounceInUp" *ngFor="let project of proyectos">
      <img class="card-img-top" src="{{'../../assets/img/'+project.Foto}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{project.Cliente}}</h5>
        <p class="card-text">{{project.Proyecto}}</p>
        <p class="card-text"><small class="text-muted">{{project.Periodo}}</small></p>
      </div>
    </div>

  </div>
  <div class="linkup">
    <div class="izq">
      <a href="buscar/#proyectos-inicio">
        <h2 class="arriba">&and;</h2>
        <h4>Arriba</h4>
      </a>
    </div>
  </div>
</div>
<app-experiencia></app-experiencia>

<div class="bg-contacto">
  <app-footer></app-footer>
</div>
