.clientes
  margin: 0 0 15% 0
  width: 100vw
  background-color: #d8d8d8
  height: auto
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: space-around
  align-content: space-around
  padding: 1%
  box-sizing: border-box
  flex-wrap: wrap
  overflow: auto

.clientes img
  max-height: 7vh
  width: auto
  filter: grayscale(1)
  -moz-filter: grayscale(1)
  -webkit-filter: grayscale(1)
  margin: 0.5%

.clientes img:hover
  // padding: 0
  // max-height: 100%
  // transform: scale(1.8)
  // margin: 0 5.5%
  filter: grayscale(0)
  -moz-filter: grayscale(0)
  -webkit-filter: grayscale(0)
  transition-duration: 0.5s
  cursor: none
