#logoPrincipal
  z-index: 1
  position: absolute
  margin-left: auto
  margin-right: auto
  margin-top: 10%
  margin-bottom: 10%
  height: 50vh
  width: auto
  left: 0
  right: 0
  cursor: pointer

.portadaInicio
  position: relative
  height: 80vh

.imagenesPortada
  position: relative
  height: 100%
  margin-bottom: 5%

.gris
  position: absolute
  filter: grayscale(100%)
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  // background-image: url("assets/img/architecture-architecture-construction-amazing-building-construction-decorative-gray.jpg")
  // background-size: cover
  height: 100vh
  clip: rect(0px, 50vw, 100vh, 0)


.color
  position: absolute
  // background-image: url("assets/img/architecture-architecture-construction-amazing-building-construction-decorative.jpg")
  // background-size: cover
  height: 100vh


@media only screen and (max-width: 800px)
  .imagenesPortada
    width: auto
    height: auto
