.bg-transparent
  background-color: transparent

.navbar-absolute
  position: absolute
  z-index: 5
  width: 100vw
  padding: 5px

ul.navbar-nav
  display: inline
  
li.nav-item, a.nav-link
  display: inline-block
  text-align: center
  width: 30vw
