.cc
  display: flex
  position: relative
  justify-content: space-around
  width: 100vw
  text-align: center
  align-content: stretch
  color: white
  flex-wrap: wrap
  cursor: pointer
  z-index: 1
  transition-duration: 1s

.fondo-negro
  background-blend-mode: multiply
  transition-duration: 1s
  background-color: rgba(29,29,27,.5) !important
  z-index: 3

.cc p
  box-sizing: border-box
  padding: 15px 50px
  text-align: justify
  align-self: flex-end
  margin-top: 1rem
  border-radius: 5px
  line-height: 2.5

.construccion
  display: flex
  position: relative
  justify-content: center
  background-image: url("assets/img/construccion.jpg")
  background-size: cover
  padding: 2%
  box-sizing: border-box
  height: 65vh
  width: 50vw
  align-self: center
  flex-direction: column
  transition-duration: 1s
  transition-timing-function: ease-in

.consultoria
  display: flex
  position: relative
  justify-content: center
  background-image: url("assets/img/consultoria.jpg")
  background-size: cover
  padding: 2%
  box-sizing: border-box
  height: 65vh
  width: 50vw
  align-self: center
  flex-direction: column
  transition-duration: 1s
  transition-timing-function: ease-in

.interventoria
  display: flex
  position: relative
  background: linear-gradient(to right, #F6BF5A, #CD2740)
  justify-content: center
  background-image: url("assets/img/interventoria.jpg")
  background-size: cover
  padding: 2%
  box-sizing: border-box
  height: 65vh
  width: 50vw
  align-self: center
  flex-direction: column
  transition-duration: 1s
  transition-timing-function: ease-in

.gerencia
  display: flex
  position: relative
  background: linear-gradient(to right, #AA6C0A, #99406A)
  justify-content: center
  background-image: url("assets/img/gerencia.jpg")
  background-size: cover
  padding: 2%
  box-sizing: border-box
  height: 65vh
  width: 50vw
  align-self: flex-start
  flex-direction: column
  transition-duration: 1s
  transition-timing-function: ease-in

.titulo-transparente
  position: absolute
  top: 0
  left: 0
  right: 0
  align-self: top
  text-align: center
  background-color: #fff
  mix-blend-mode: lighten
  justify-content: center
  cursor: pointer
  vertical-align: top
  margin: 0 10%
  transition-duration: 0.5s
  transition-timing-function: ease-in

.titulo-transparente h2
  text-align: center
  margin: 1rem

.cerrado .titulo-transparente
  transform: translateY(250%)
  transition-duration: 0.5s
  transition-timing-function: ease-in
  mix-blend-mode: lighten

.espacio
  width: 100vw
  height: 30vh
  background-color: #fff

i.cerrado
  font-size: 4em
  position: absolute
  top: 55%
  transition-duration: 1s
  transition-timing-function: ease-in
  transform: positionY(10%)
  opacity: 1

i
  font-size: 4em
  position: absolute
  left: 50%
  transition-duration: 1s
  transition-timing-function: ease-in
  transform: positionY(10%)
  opacity: 0

.fa-angle-right, .fa-angle-left
  opacity: 1

@media only screen and (max-width: 800px)
  .cc
    flex-direction: column
    width: 100vw

  .cc div
    width: 100%
    height: 100vh
    padding: 5px

  .cc .titulo-transparente
    height: 10vh

  .titulo-transparente
    position: absolute
    left: 0
    right: 0
    width: 60vw
    padding-bottom: 20px
    margin: auto
    width: 50%

  .cerrado .titulo-transparente
    transform: translateY(350%)
    transition-duration: 1s
    transition-timing-function: ease-in
    mix-blend-mode: lighten
