.contenedor-trabaja
  color: #fff
  position: fixed
  bottom: 0
  right: 3%
  display: flex
  flex-direction: column
  background-color: rgba(235,95,10,0.9)
  align-content: center
  padding: 0.5% 1% 0 1%
  border-radius: 10px 10px 0px 0px
  width: 20%
  text-align: center
  transition-duration: 0.5s
  z-index: 3

.contenedor-trabaja h2,
  color: white
  margin-top: 1rem

.contenedor-trabaja p
  margin-left: 3px


.contenedor-trabaja i
  color: #fff

.contenedor-trabaja a
  color: #EB5F0A
  background-color: #fff
  padding: 0.2rem 0.4rem
  border-radius: 5px
  margin: -7px 0 7px 0

.contenedor-trabaja a:hover
  box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.61)

.contenedor-trabaja h3:hover
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4)

.contenedor-trabaja h3
  font-size: 0.7rem
  color: #fff
  position: absolute
  right: 10px
  display: block
  cursor: pointer

.tn-cerrado
  transform: translateY(110%)
  transition-duration: 0.5s

.tn-cerrado h3
  display: none

.tn-cerrado h2:hover
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4)

.tn-cerrado h2
  cursor: pointer
  margin-top: 0rem

@media only screen and (max-width: 800px)
  .contenedor-trabaja
    width: 70%
    margin: auto
    right: 0
    left: 0

  // .tn-cerrado
  //   display: none
  //   transition-duration: 0.8s
