$gris-fondo: #F2F2F2
$blanco: #fff
$naranja: #EB5F0A
$dosis: 'Dosis', sans-serif
.tratamiento-datos
  display: flex
  align-items: center

.tratamiento-datos p
  padding-left: 10%
  box-sizing: border-box

.tratamiento hr
  display: block
  height: 1px
  border: 0
  border-top: 2px solid $naranja
  margin: 1em 0
  padding: 0
.tratamiento
  margin: 1% 10%
  padding: 1% 10%
.tratamiento h1, h2,h3
  text-align: center
  font-family: $dosis
  color: $naranja
.tratamiento p, li
  margin-top: 2%
  text-align: justify
.btn-tratamiento
  background-color: $naranja
  color: white
  position: sticky
  top: 30vh
.tratamiento a
  color: $naranja
.portada-tratamiento
  height: 80vh
  max-height: 500px
  background-image: url(assets/img/services-architecture-engineering-1030x687.jpg)
  background-size: cover
  background-position: 80% center
  background-color: #A1A1A1
  background-blend-mode: multiply
  display: flex
  justify-content: center
  align-items: center
  align-content: center
.portada-tratamiento h1
  margin-top: -6%
  text-align: center
  color: $blanco
  font-family: $dosis
  font-size: 6vw
  margin: 6% 2% 2% 2%

.contenido-tratamiento
  position: sticky
  width: 7vw
  min-width: 200px
  text-align: center

.contenido-tratamiento ul
  padding: 0
  list-style: none
  text-align: center
.contenido-tratamiento ul li
  text-align: center

@media only screen and (max-width: 800px)
  .tratamiento-datos p
    padding: 0
  .tratamiento
    padding: 1% 2%
  .portada-tratamiento h1
    font-size: 10vw
