@import "animate"
@import "tratamiento"
@import "servicios"
@import "navbarppal"
@import "inicio"
@import "trabaja-con-nosotros"
@import "clientes"
$gris-fondo: #F2F2F2
$blanco: #fff
$naranja: #EB5F0A
$dosis: 'Dosis', sans-serif
html,body
  background-color: $gris-fondo
  overflow-x: hidden

.carousel-caption
  color: #282828

.foto-ejecucion
  width: 40vw
  height: auto
  margin-bottom: 5%

.ejecucion
  margin: 40px auto

.container-ejecucion
  padding: 5% 25%
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  text-align: center

.carousel-control-prev i, .carousel-control-next i
  font-size: 4em
  color: #818080

.carousel-control-prev
  position: absolute
  left: -40%

.carousel-control-next
  position: absolute
  right: -40%

.bg-experiencia
  background-image: url("assets/img/e86fd3fa06db22fd92cccffbfb58a4d5.jpg")
  background-color: #8C8C8B
  background-blend-mode: multiply
  background-size: cover
  height: 16vh
  position: relative
  display: flex
  justify-content: center
  align-items: content

.bg-experiencia img
  position: absolute
  top: -39%

.bg-experiencia h1
  line-height: 16vh
  z-index: 3
  color: $blanco

app-contacto
  text-align: center
  margin: 50%
  background-image: url(assets/img/bg-lineas.png)
  background-color: $blanco

.container .contacto
  background-color: #8C8C8A
  text-align: left
  padding: 2%
  border-radius: 25px
  color: $blanco
  width: 50vw
  margin-bottom: 1%

.container-contacto
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  align-items: center

.bg-contacto
  background-color: $blanco
  background-image: url(assets/img/bg-lineas.png)
  background-size: cover

.btn-coing
  background: linear-gradient(to right,#90361F,#EB6209)
  color: white
  border-radius: 5px
  margin-left: 40%
  margin-right: 40%

.footer
  padding: 3% 15% 0 15%

.footer pre
  font-family: sans-serif

.flecha
  margin-left: 4%
  margin-right: 1%
  cursor: pointer
hr
  border-width: medium
  border-color: #282828

.info
  background: linear-gradient(to right,#90361F,#EB6209)
  padding-top: 2%
.info pre, .info p
  color: white

.estamos
  text-align: right

.redes img
  width: auto
  height: 4vh
  cursor: pointer

.logo
  height: 10vh
  width: auto
.logo2
  height: 10vh
  width: auto

.contenedor-proyectos
  background-color: $gris-fondo
  padding: 5vh 5vw

.portada-proyectos
  height: 80vh
  max-height: 500px
  background-image: url(assets/img/construccion-montaje.jpg)
  background-size: cover
  background-position: 80% center
  background-color: #F4E25A
  background-blend-mode: multiply
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  position: relative
  filter: grayscale(100%)
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  text-align: center
.portada-proyectos h1
  margin-top: 0
  color: $blanco
  font-family: $dosis
  font-size: 10vh

.portada-servicios
  height: 80vh
  max-height: 500px
  background-image: url(assets/img/civil-archit.jpg)
  background-size: cover
  background-position: 80% center
  background-color: #F4E25A
  background-blend-mode: multiply
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  position: relative
.portada-servicios h1
  margin-top: 0
  color: $blanco
  font-family: $dosis
  font-size: 12vh



.card
  text-align: center
.card h5
  font-family: $dosis

.portada-empresa
  height: 80vh
  max-height: 500px
  background-image: url(assets/img/services-architecture-engineering-1030x687.jpg)
  background-size: cover
  background-position: 80% center
  background-color: #F4E25A
  background-blend-mode: multiply
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  position: relative
  filter: grayscale(100%)
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  text-align: center
.portada-empresa h1
  margin-top: -6%
  color: $blanco
  font-family: $dosis
  font-size: 12vh
.intro-empresa
  text-align: center
  font-size: 1.4em
.mvv
  display: flex
  justify-content: space-around
.card
  box-shadow: 6px 6px 10px 0px rgba(100,100,100,0.6)


.mvv div
  flex-direction: column
  flex-grow: 1
  max-width: 28vw

.mvv div:nth-child(1), .mvv div:nth-child(2)
  border-right: solid 2px #949494
  padding-right: 2%
  box-sizing: border-box

.mvv h2, h1
  text-align: center
  font-family: $dosis
  color: $naranja

.mvv p, .mvv ul li
  text-align: center
  list-style: none
  // font-size: 1.2rem

.mvv ul li
  margin-left: -10%

.bg-white
  background-color: white
  top: 0
  margin: 0

.hexa
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

nav
  z-index: 10

nav img
  transition-duration: 1s

nav img:hover
  transform: scale(1.15)
  transition-duration: 1s

.mensaje-enviado
  width: 100vw
  height: 100vh
  position: fixed
  z-index: 15
  background-color: rgba(100,100,100,0.25)
  display: flex
  justify-content: center
  align-items: center
  align-content: center

.gracias
  position: fixed
  width: 25vw
  height: 25vh
  background-color: #fff
  border-radius: 10px

.linkup
  text-align: center
  color: $naranja
  display: flex
  margin: 10px
  align-content: flex-end
  align-items: flex-end
  flex-direction: column

.izq
  display: flex
  width: 7rem
  height: 7rem
  background-color: $naranja
  border-radius: 50%
  text-align: center
  justify-content: center

.linkup a h2
  color: #fff!important

.linkup a:hover
  text-decoration: none
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.41)

.linkup a h4
  display: none
  color: #fff

.linkup a:hover h4
  display: block

.navbar-nav p
  display: none

.navbar-toggler
  border: none
.navbar-toggler:focus
  border: none!important
  border-color: rgba(0,0,0,0)!important
  box-shadow: none!important
  outline: none

.flotante-wapp img
  width: 3.5rem;
  position: fixed;
  right: 5px;
  top: 50%;
  z-index: 1000;

@media only screen and (max-width: 800px)
  .mvv
    flex-direction: column

  .mvv div
    max-width: 90vw
    width: 90vw

  .bg-experiencia h1
    font-size: 1.2rem

  .bg-experiencia img
    height: 30vh
  .navbar-light .navbar-brand img
    height: auto
    width: 60vw

  .navbar-light button img
    width: 10vw
    height: auto

  .navbar-light ul li a img
    display: none

  .navbar-light ul li
    display: block
    text-align: left

  .bg-transparent .navbar-brand img
    height: auto
    width: 60vw

  .bg-transparent button img
    width: 10vw
    height: auto

  .bg-transparent ul li a img
    display: none

  .bg-transparent ul li
    display: block
    text-align: left

  #logoPrincipal
    height: auto
    width: 30vw
    margin-top: 30vh

  .d-block img
    height: 60vh !important

  .info pre
    font-size: 0.7rem

  .bg-transparent .show
    background-color: rgba(255,255,255,0.9) !important
    border-radius: 5px
    text-align: center

  .navbar-nav p
    display: block

  .show
    width: 100%

  .navbar-nav ul
    margin-left: -5%
  //   width: 100vw
  //   text-align: center

  .navbar-nav  li
    float: none
    display: inline-block
    text-align: center
    width: 85vw

  .navbar-nav a
    width: 100%
    left: 0

  .navbar-nav li:nth-child(2)
    background-color: $gris-fondo
  .navbar .navbar-nav
    display: inline-block
    float: none
    vertical-align: top

  .navbar .navbar-collapse, .navbar .collapse
    text-align: center

  .navbar-nav
    float: none
    margin: 0 auto
    display: block
    text-align: center

  .navbar-nav li
    display: inline-block
    float: none

  .footer
    display: flex
    flex-direction: column
    justify-content: center

  .logosFooter
    display: flex
    flex-direction: column
    justify-content: center

  .logosFooter .logo1, .logosFooter .logo2
    width: 90%
    height: auto

  .imagenesPortada
    height: 100vh
    width: 100vw

  .color, .gris
    height: 100vh
    object-fit: cover

  .foto-ejecucion
    width: 65vw
    height: auto

  .mvv div:nth-child(1), .mvv div:nth-child(2)
    border-right: none

  .card-columns
    column-count: 2
    font-size: 0.6rem

  .card h5
    font-size: 0.8rem

  .logos-footer .tratamiento-datos
    text-align: center

  a.col-sm-12
    display: inline-block
    margin: auto
