<div class="trabaja">
  <div class="contenedor-trabaja">
    <h3>&#x2718;</h3>
    <h2>¡Trabaja con Nosotros!</h2>
    <p>
      Si eres profesional en las diferentes áreas de la Ingeniería y Arquitectura, tienes experiencia comprobada superior a 3 años y tarjeta profesional, envíanos tu Hoja de Vida a:
    </p>
    <a href="mailto:info@coingltda.com">info@coingltda.com</a>
  </div>
</div>
