<div class="footer wow fadeInUp">
  <hr>
  <div class="logosFooter row">
    <div class="tratamiento-datos col-md-5 row">
      <a class="col-md-2 col-sm-12 text-center" [routerLink]="['/tratamiento-de-datos']">
        <img class="flecha" src="../../assets/img/flecha-politica.png" alt="">
      </a>
      <p class="col-md-9 col-sm-12">Política de tratamiento de información de datos personales.</p>
    </div>
    <span class="col-md-1"></span>
    <img class="logo col-md-3" src="../../assets/img/afiliadoCCI.jpg" alt="">
    <img class="logo2 col-md-3" src="../../assets/img/ccca.jpg" alt="">
  </div>
  <br>
  <div class="info row">
    <br>
    <pre class="col-sm-6">
      COING INGENIERÍA Ltda.
      Carrera 98A No. 45-51 Oficina 5-402
      Teléfonos: 370 2688 – 315 2839850
      Santiago de Cal, Colombia
      <a style="color: white" href="mailto:info@coingltda.com">info@coingltda.com</a>
      <a style="color: white" href="https://api.whatsapp.com/send?phone=573166961960" target="_blank">Whatsapp: 316 696 1960</a>

    </pre>
    <div class="estamos col-sm-6">
      <p>Estamos en:</p>
      <div class="redes">
        <img src="../../../assets/img/facebook.png" alt="">
        <img src="../../../assets/img/twitter.png" alt="">
        <img src="../../../assets/img/instagram.png" alt="">
      </div>
    </div>
  </div>
</div>
